@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}




body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  z-index: 0;
  overflow: auto;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/backgroundbest4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1; /* 50% opacity */
  z-index: -1;
}